<!DOCTYPE html>
<html lang="en"><head>
  <title>关于</title>
  <body>
    <h1>关于</h1>
    <h6>宜信财富在国内第一个推出公益理财模式，并将其作为一个重要的资产类别推荐给客户。通过宜农贷公益理财平台，城市精英人群将资金借给偏远山区的贫困农村妇女，帮助他们实现生产和生活的改善。通过这一模式，理财者在实现财富增长的同时，也收获了帮助他人的快乐，实现了精神财富的增长。</h6>

</body>
</html>
