<!DOCTYPE html>
<html lang="en"><head>
  <title>关于</title>
  <body>
    <p>
    <button class="btn btn-large btn-primary" type="button">Large button</button>
    <button class="btn btn-large" type="button">Large button</button>
    </p>
    <p>
    <button class="btn btn-large btn-block btn-primary" type="button">Block level button</button>
    <button class="btn btn-large btn-block" type="button">Block level button</button>
    </p>
</body>
</html>
