<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>CPU个人会员产品</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.bootcss.com/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.bootcss.com/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.bootcss.com/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="http://www.bootcss.com/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="http://www.bootcss.com/assets/ico/favicon.png">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">主页</a></li>
          <li><a href="#">关于</a></li>
          <li><a href="#">联系</a></li>
        </ul>
        <h3 class="muted">CPU个人会员产品V3.0</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>CE Money</h1>
        </br>
        <p class="lead"> 宜信公司是一家集财富管理、信用风险评估与管理、信用数据整合服务、小额借款行业投资、小微借款咨询服务与交易促成、公益理财助农平台服务等业务于一体的综合性现代服务业企业。  </p>
        <a class="btn btn-large btn-success" href="#">申请成为会员</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>融资租赁</h4>
          <p>为连锁餐饮、连锁商超、院线、交通、新能源、食品生产及检测，农业机械行业等行业从生产商、供应商到终端用户提供包括直接租赁、售后回租、委托租赁、杠杆租赁等一站式融资解决方案。提供各类租赁产品以及租金转让与租赁财产证券化、资产管理、产业投资顾问等服务。</p>

          <h4>城市抵押借款服务</h4>
          <p>面向高成长性人群推出的灵活便捷的借款服务。如宜车贷、宜房贷等。</p>

          <h4>固定收益类</h4>
          <p>宜信财富创新推出的P2P小额信贷理财模式是中国固定收益理财的重要组成部分。在P2P固定收益理财模式下，理财者将资金借给兼职创业的工薪阶层、参加职业培训的大学生、小微企业主等高成长性人群，获取稳定收益，同时也实现了对别人的帮助。这种收益较高、风险较低的创新理财模式，多年来为广大理财者提供了满意的投资回报，深受大众富裕阶层理财者的喜爱。</p>
        </div>

        <div class="span6">
          <h4>城市信用借款服务</h4>
          <p>城市信用借款服务：面向城市高成长性人群的无需抵押、无需担保的小额信用借款服务。帮助实现个人理想。如宜学贷、精英贷、助业贷、新薪贷等。</p>

          <h4>农村信用借款服务</h4>
          <p>农村信用借款服务：为农村有资金需求的借款人提供信用咨询和信用借款，通过提供创业咨询、进行生产培训、组织致富经验交流等一系列增值服务，助力广大三农客户的发展成长。</p>

          <h4>公益理财</h4>
          <p>宜信财富在国内第一个推出公益理财模式，并将其作为一个重要的资产类别推荐给客户。通过宜农贷公益理财平台，城市精英人群将资金借给偏远山区的贫困农村妇女，帮助他们实现生产和生活的改善。通过这一模式，理财者在实现财富增长的同时，也收获了帮助他人的快乐，实现了精神财富的增长。</p>

        </div>
      </div>

      <hr>

      <div class="footer">
        <p>© CE Money 2013</p>
      </div>

    </div> <!-- /container -->  

</body></html>
